/*body
su contenido centrado
diseño de la página reponsivo
grid
"header header header" 50%
"nav . ." 20%
"main main main" 40%

"footer footer footer"10%
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 50rem;
  height: 50rem;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
  grid-template-rows: 30% 1fr 5% 8% 1fr 0.1fr;
  grid-template-areas:
    '. header header header header '
    ' . header header header  header '
    ' . logo ll  ti  ti '
    ' . nav   n n  n '
    ' . main main main  main '
    ' . footer footer footer  footer ';
}
footer {
  grid-area: footer;
  background-color: #000005;
  color: #fff;
  padding: 1rem;
}
header {
  grid-area: header;
  /*
  see the full header image without repeating , centered and with a size of 100% of header
  */

  background: url('img/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  padding: 1rem;
}
.ll {
  grid-area: ll;
  background-color: rgb(247, 123, 0);
  padding: 1rem;
}
.logo {
  grid-area: logo;
  background: rgb(247, 123, 0) url('img/logotipo.png') no-repeat center
    center/cover;
  color: rgb(247, 123, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 1rem;
}
.ti {
  grid-area: ti;
  background-color: rgb(247, 123, 0);
  color: #fff;
  padding: 1rem;
  content: 'postres lx';
}
.ll,
.logo,
.ti {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(79, 39, 2);
}
nav {
  grid-area: nav;
  background-color: green;
  color: #fff;
  padding: 1rem;
}
.n {
  grid-area: n;
  background-color: #000005;
  color: #fff;
  padding: 1rem;
}
.texto {
  grid-area: texto;
  background-color: #ff0000;
  color: #fff;
  padding: 1rem;
}
main {
  grid-area: main;
  background-color: #f0378a;
  color: #fff;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'maindivreceta';
}
main > div#recetas {
  grid-area: maindivreceta;
  background-color: rgb(87, 76, 74);
  color: rgb(255, 251, 250);
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(13, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    '. . .'
    '. Tiramisu  .'
    '. . .'
    '. Arroz_con_leche .'
    '. . .'
    '. Dulce_de_leche .'
    '. . .'
    '. Crema_catalana .'
    '. . .'
    '. Tarta_de_chocolate .'
    '. . .'
    '. Tarta_de_manzana .'
    '. . .';
}
.Tarta_de_manzana {
  grid-area: Tarta_de_manzana;
}
/*  grid-area: Tiramisu*/
.Tiramisu {
  grid-area: Tiramisu;
}
.Arroz_con_leche {
  grid-area: Arroz_con_leche;
}
.Dulce_de_leche {
  grid-area: Dulce_de_leche;
}
.Crema_catalana {
  grid-area: Crema_catalana;
}
.Tarta_de_chocolate {
  grid-area: Tarta_de_chocolate;
}
/*
dropdownon nav VERTICAL
if you click on nav, the dropdown menu opens downwards .
dropdownon nav>h1 github copilot
*/

nav > ul {
  display: none;
}
nav:hover > ul {
  display: block;
  position: absolute;
  background-color: #0f0e0e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav > ul > li {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
nav > ul > li:hover {
  background-color: rgb(7, 7, 7);
}
/*  a sin formato*/
a {
  text-decoration: none;
  color: #fff;
}

:target {
  border: 4px solid rgb(255, 2, 133);
}
.Tiramisu > div > #imagen {
  grid-area: imagen;
  /*
 poner imagen de fondo
 100% de ancho y alto
  centrada
  no repetir
 */
  background: url('img/Tiramisu.jpg') no-repeat center center/cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 1rem;
}
/*Arroz_con_leche*/
.Arroz_con_leche > div > #imagen {
  grid-area: imagen;
  background: url('img/arroz_leche.jpg') no-repeat center center/cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 1rem;
}
/*Dulce_de_leche*/
.Dulce_de_leche > div > #imagen {
  grid-area: imagen;
  background: url('img/dulce_leche.jpg') no-repeat center center/cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 1rem;
}
/*Crema_catalana*/
.Crema_catalana > div > #imagen {
  grid-area: imagen;
  background: url('img/crema_catalana.jpg') no-repeat center center/cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 1rem;
}
/*Tarta_de_chocolate*/
.Tarta_de_chocolate > div > #imagen {
  grid-area: imagen;
  background: url('img/tarta_chocolate.jpg') no-repeat center center/cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 1rem;
}
/*Tarta_de_manzana*/
.Tarta_de_manzana > div > #imagen {
  grid-area: imagen;
  background: url('img/tarta_manzana.jpg') no-repeat center center/cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
  padding: 1rem;
}
#_2_columnas:checked ~ #Tiramisutexte {
  column-count: 2;
}
#_2_columnas:checked ~ #Arroz_con_lechtexte {
  column-count: 2;
}
#_2_columnas:checked ~ #Dulce_de_lechtexte {
  column-count: 2;
}
#_2_columnas:checked ~ #Crema_catalanatexte {
  column-count: 2;
}
#_2_columnas:checked ~ #Tarta_de_chocolatetexte {
  column-count: 2;
}
#_2_columnas:checked ~ #Tarta_de_manzanatexte {
  column-count: 2;
}
/*
ocutar texto din.ingles VISIBILIDAD
quitar los espacios quedan 
*/

div.espanol {
  visibility: visible;
  font-size: 1rem;
}
div.ingles {
  visibility: hidden;
  /*
  quitar los espacio queda
  */
  font-size: 0;
}
input#ingles:checked ~ div .ingles {
  visibility: visible;
  font-size: 1rem;
}
input#ingles:checked ~ div .espanol {
  visibility: hidden;
  font-size: 0;
}
/*
*/
main > div {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    '. h1 h1 h1 h1 h1 h1 h1 .'
    '. c2 c2_ ing_b ing_t . . . .'
    '. . . . . . ima ima  .'
    '. . . . . . ima ima  .'
    'texo texo texo texo texo texo texo texo texo'
    'texo texo texo texo texo texo texo texo texo'
    'texo texo texo texo texo texo texo texo texo ';
}
/*  grid-area: h1*/
main > div > h1 {
  grid-area: h1;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding: 1rem;
}
/*  grid-area: c2*/
main > div > div.c2 {
  grid-area: c2;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}
/*  grid-area: c2_*/
main > div > div.c2_ {
  grid-area: c2_;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}
/*  grid-area: ing_b*/
main > div > div.ing_b {
  grid-area: ing_b;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}
/*  grid-area: ing_t*/
main > div > div.ing_t {
  grid-area: ing_t;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}

/*  grid-area: ima*/
main > div > div.ima {
  grid-area: ima;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}

#ingles {
  /*
visible al lado del texto
*/
  visibility: visible;
  size: 1rem 1rem;
}

/*  grid-area: texo*/
main > div > div.texo> div.espanol,
main > div > div.texo> div.ingles{
  grid-area: texo;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}

/*  grid-area: texo*/
main > div > div.texo> div.espanol,
main > div > div.texo> div.ingles{
  grid-area: texo;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}

/* NO VER IMAGENES */
#_2_columnas:checked ~ #Tiramisutexte > div > div.ima {
  visibility: hidden;
  font-size: 0;
}
/* VER IMAGENES */
 div.ima {
  visibility: visible;
  height: auto;
  width: auto;
}
div.imagen {

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* 
img flota a la derecha del div 
*/
img {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*
 above  div.texto
  */

  

}
/*
   above and outside div.texto
*/
img {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*
  above  div.texto
  */
  position: relative;
  top: -2rem;
}
main>div>div,.texto{
  background: rgb(242, 2, 2);
  border: 1px solid #fff;

}
