/*  {
   "style_name": "playa",
   "images": [
      "play\\playa (1).jpg",
      "play\\playa (2).jpg",
      "play\\playa (3).jpg",
      "play\\playa (4).jpg",
      "play\\playa (5).jpg",
      "play\\playa (6).jpg",
      "play\\playa (7).jpg",
      "play\\playa (8).jpg",
      "play\\playa (9).jpg",
      "play\\playa (10).jpg",
      "play\\playa (11).jpg",
      "play\\playa (12).jpg",
      "play\\playa (13).jpg",
      "play\\playa (14).jpg",
      "play\\playa (15).jpg",
      "play\\playa (16).jpg",
      "play\\playa (17).jpg",
      "play\\playa (18).jpg",
      "play\\playa (19).jpg",
      "play\\playa (20).jpg",
      "play\\playa (21).jpg",
      "play\\playa (22).jpg",
      "play\\playa (23).jpg",
      "play\\playa (24).jpg",
      "play\\playa (25).jpg",
      "play\\playa (26).jpg",
      "play\\playa (27).jpg",
      "play\\playa (28).jpg",
      "play\\playa (29).jpg",
      "play\\playa (30).jpg",
      "play\\playa (31).jpg",
      "play\\playa (32).jpg",
      "play\\playa (33).jpg",
      "play\\playa (34).jpg",
      "play\\playa (35).jpg",
      "play\\playa (36).jpg",
      "play\\playa (37).jpg",
      "play\\playa (38).jpg",
      "play\\playa (39).jpg",
      "play\\playa (40).jpg",
      "play\\playa (41).jpg",
      "play\\playa (42).jpg",
      "play\\playa (43).jpg",
      "play\\playa (44).jpg",
      "play\\playa (45).jpg",
      "play\\playa (46).jpg",
      "play\\playa (47).jpg",
      "play\\playa (48).jpg",
      "play\\playa (49).jpg",
      "play\\playa (50).jpg",
      "play\\playa (51).jpg",
      "play\\playa (52).jpg",
      "play\\playa (53).jpg",
      "play\\playa (54).jpg",
      "play\\playa (55).jpg",
      "play\\playa (56).jpg",
      "play\\playa (57).jpg",
      "play\\playa (58).jpg",
      "play\\playa (59).jpg",
      "play\\playa (60).jpg",
      "play\\playa (61).jpg",
      "play\\playa (62).jpg",
      "play\\playa (63).jpg",
      "play\\playa (64).jpg",
      "play\\playa (65).jpg",
      "play\\playa (66).jpg",
      "play\\playa (67).jpg",
      "play\\playa (68).jpg"
   ],
   "orientation": "horizontal",
   "padding": 5,
   "custom_styles": {
      "display": "inline-block"
   },
   "stylesheet": "css",
   "path_prefix": "",
   "output": "jpg",
   "enable_cache_busting": true
}

<form action="">
                    <div id="sprite"></div>
                    <input type="button" value="star">
                    <input type="button" value="stop">
                </form>
*/


form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


    #sprite{
        /* FOTO SON 720 X 1280 */
        width: 720px;
        height: 1280px;
        background-image: url(../img/playa.jpg)  ;
        background-repeat: no-repeat;
        /* FOTO SON 720 X 1280 */
        background-size: 48960px 1280px;
        /* ajustar la imagen */
        background-position: 0 0;
        /* ajustar la imagen */
        animation-name: animacion;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
        
    }

    form #sprite{
        width: 720px;
        height: 1280px;
        background-image: url(../img/playa.jpg)  ;
        background-repeat: no-repeat;
        /* FOTO SON 720 X 1280 */
        background-size: 48960px 1280px;
        /* ajustar la imagen */
        background-position: 0 0;
        /* ajustar la imagen */
 
        
    }
/* 
    @keyframes animacion{
        from{
            background-position: 0 0;
        }
        to{
            background-position: -48960px 0;
        }
    } */

    /*  <input type="button" value="star">*/


    /* empieza cuando pulsa start*/
    input[value="star"]:active ~ #sprite{
        animation-play-state: running;
    }

    /* para cuando pulsa stop*/
    input[value="stop"]:active ~ #sprite{
        animation-play-state: paused;
    }

    /*  <input type="button" value="stop">*/

    /* empieza cuando pulsa start*/
    input[value="star"]:active ~ form #sprite{
        animation-play-state: running;
    }

    /* para cuando pulsa stop*/
    input[value="stop"]:active ~ form #sprite{
        animation-play-state: paused;
    }


    @keyframes animacion{
        from{
            background-position: 0 0;
        }
        to{
            background-position: -48960px 0;
        }
    }

    /*
     <form action="">
                    <div id="sprite"></div>
                    <input type="button" value="star">
                    <input type="button" value="stop">
                </form>*/


                    /*  <input type="button" value="star">*/

        /* empieza cuando pulsa start*/
        input[value="star"]:active ~ #sprite{
            animation-play-state: running;
        }
 
        /* para cuando pulsa stop*/
        input[value="stop"]:active ~ #sprite{
            animation-play-state: paused;
        }
 
        /*  <input type="button" value="stop">*/
 
        /* empieza cuando pulsa start*/
        input[value="star"]:active ~ form #sprite{
            animation-play-state: running;
        }
 
        /* para cuando pulsa stop*/
        input[value="stop"]:active ~ form #sprite{
            animation-play-state: paused;
        }
 
        @keyframes animacion{
            from{
                background-position: 0 0;
            }
            to{
                background-position: -48960px 0;
            }
        }
 
        /*
         <form action="">
                            <div id="sprite"></div>
                            <input type="button" value="star">
                            <input type="button" value="stop">
                        </form>*/
 
 
                            /*  <input type="button" value="star">*/
 
                  /* empieza cuando pulsa start*/
                  input[value="star"]:active ~ #sprite{
                      animation-play-state: running;
                  }
              
                  /* para cuando pulsa stop*/
                  input[value="stop"]:active ~ #sprite{
                      animation-play-state: paused;
                  }
              
                  /*  <input type="button" value="stop">*/
              
                  /* empieza cuando pulsa start*/
                  input[value="star"]:active ~ form #sprite{
                      animation-play-state: running;
                  }
              
                  /* para cuando pulsa stop*/
                  input[value="stop"]:active ~ form #sprite{
                      animation-play-state: paused;
                  }
              