* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*
for pc
only screen and (min-width: 768px) {
/* styles specific to desktop *
}

*/
.blanco {
  background-color: white;
  color: black;
}
#logo {
  width: 100px;
  height: 100px;
  background: url("../img/logo.jpeg");
  background-size: cover;
}
@media only screen and (min-width: 1024px) {
  /*
    body es 80% de pantalla y centra
    */
  body {
    width: 80%;
    margin: 0 auto;
    background-color: red;
    position: relative;
  }
  .ancho_100 {
      height: 100%;
    }
    .pie_de_pag{
        /* bottom: 0; */
        position: absolute;
        bottom: 0;
    }
    .largo_100 {
      width: 100%;
    }
    .relative {
      position: relative;
    }
    /*
      espacio_enter_elemento_y_misma_linea*/
    .espacio_enter_elemento_y_misma_linea {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
}
    


/*
para movil
*/

@media only screen and (max-width: 1024px) {
  /*
body se expande al 100% de la pantalla
*/
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: green;
  }
  .pie_de_pag{
        /* bottom: 0; */
        position: absolute;
        bottom: 0;
    }
    .largo_100 {
      width: 100%;
    }
    /*
      espacio_enter_elemento_y_misma_linea*/
    .espacio_enter_elemento_y_misma_linea {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}
