.carousel-inner{
  height: 50vh;
}
.carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 1000ms;
}

.carousel-item:checked {
  position: static;
  opacity: 100;
}
.carousel-control {
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  opacity: 0.5;
  transition: opacity ease-in-out 1000ms;
  height: 100%;
}

.carousel-control:hover {
  opacity: 0.75;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}
